{% extends 'main.html' %}


{% block content %}

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>

<div class="home-container">

    <div>
        <h3>
            Browse topics

        </h3>
        <hr>

        <div>
            <a href="{% url 'home' %}">All</a>
            <hr>
            {% for topic in topics %}
            <div>
                <a href="{% url 'home' %}?q={{topic.name}}" >{{topic.name}}</a>
                <hr>
            </div>
            {% endfor %}
        </div>
    </div>


    <div class="home-rooms-container">
        <div class="home-create-room">
            <h5>Rooms available: {{room_count}}  </h5>
            <button>
                <a href="{% url 'create-room' %}">
                Create Room
                </a>
            </button>
            <hr>
        </div>

        <div>
            {% for room in rooms %}
            <div>
                <span>@{{room.host.username}}</span>

                {% if request.user == room.host %}
                <small><a href=" {% url 'update-room' room.id %}  ">Edit</a></small>
                <small>
                    <a href="delete-room/{{room.id}}">Delete</a>
                </small>
                {% endif %}
                <h3>{{room.id}} --- <a href="room/{{room.id}}">{{room.name}}</a> </h3>
                <p>{{room.description}}</p>
                <small>{{room.topic.name}}</small>
                <hr>
            </div>
            {% endfor %}       
        </div>
    </div>   
</div>


{% endblock content %}



